<Config>
	<BatcherService>
		<url>https://restcountries.eu/rest</url>
		<region>us</region>
	</BatcherService>

	<UserService>
		<url>https://restcountries.eu/rest</url>
	</UserService>

	<Database>
		<Class>com.mysql.cj.jdbc.Driver</Class>
		<URL>jdbc:mysql://localhost:3306/sakila</URL>
		<User>root</User>
		<Password>root</Password>
	</Database>

</Config>